* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --card-bg-color: #0A0908;
    --text-color: #F2F4F3;
}
body {
    position:relative;
}
header {
    background-color: #22333B;
    position: sticky;
    top:0;
    height: 10vh;
    z-index: 1;
}
a {
    text-decoration: none;
}
.link {
    cursor: pointer;
    color: var(--text-color);
    font-size: 1.5rem;
}
.roboto-mono {
    font-family: 'Roboto Mono', monospace;
}
.roboto-slab {
    font-family: 'Roboto Slab', serif;
}
.wrapper {
    height: 40vh;
    color: var(--text-color);
    background-repeat:no-repeat;
    background-color: #22333B;
    background-size:cover;
    background-position:center;
}
.card-movie {
    border-radius: 15px;
    color: var(--text-color);
    background-color: var(--card-bg-color);
}
.image-movie {
    height: fit-content;
}
.card-body {
    background-size: cover;
    background-position:center;
    height: 50vh;
}
.edit-button {
    background-color:#616EE8;
    color: var(--text-color);
}
.delete-button {
    background-color: #E84343;
    color: var(--text-color);
}
form {
    width: 50%;
}